
.about_grid1 {
	width: 100%;
	margin-top: 4%;
}

.about_grid2 {
	float: left;
	width: 53%;
	margin-left: 3%;
	margin-top: 2%;
	font-family: arial;
	font-size: 12px;
}

.about_grid3  {
	float: left;
	width: 38%;
	margin-left: 4%;
	margin-right: 2%;
	margin-top: 6.5%;
}

.about_grid3  img{
	box-shadow: 2px 2px 2px 2px #bababa;
	border-radius: 15px;
}

.about_grid4 {
	float: left;
	width: 100%;
	margin-top: 3%;
}

.about_grid5 {
	float: left;
	width: 100%;
}

.aboutBanner {
	background-color: #00008b;
	color: #fff;
	font-family: arial, calibri;
	font-size: 16px;
	font-weight: bold;
	width: 200px;
    padding: 5px;
	text-align: center;
	z-index: 3;
	box-shadow: 1px 1px #bababa;
}

/* -------------------- news grid ------------------------------ */




