

/* product detail css */
.productTabTitle {width:100%; margin-bottom:20px; overflow:hidden; background:#d4d6d5; }
.productTabTitle li {float:left; padding:5px 13px; }
.productTabTitle li a {text-decoration:none;}
.productTabTitle li.on {background:#004199; border-right:1px solid #fff; border-left:1px solid #fff;}
.productTabTitle li.on a {font-weight:bold; color:#fff;}
.productTabTitle li.on strong {color:#fff;}

h4.productTit {padding:0 0 0 17px; height:26px; font-size:12px; color:#000; background:url('/images/kr/product/bulSubTitle.gif') no-repeat 0 4px; overflow:hidden;}
h4.productTit01 {padding:0 0 0 17px; height:25px; font-size:12px; color:#000; background:url('/images/kr/product/bulSubTitle02.gif') no-repeat 5px 5px; overflow:hidden;}
h4.productTit2 {padding:0 0 0 17px;  color:#000; background:url('/images/kr/product/bulRect01.gif') no-repeat 8px 8px; word-break:keep-all;}
h4.productTit3 {padding-bottom:1px; color:#000; font-weight:bold; border-bottom:1px solid #c9c9c9; font-size:12px;}

h4.productSubMainTit {height:29px; font-size:12px; color:#000; font-family:Tahoma;}
p.smallTitle {padding:0 0 7px 17px;font-weight:bold; font-size:12px; color:#000;}
.contentType01 {padding-bottom:28px; width:100%; overflow:hidden; color:#666; word-break:keep-all;}
.contentType02 {padding-bottom:12px; width:100%; overflow:hidden; color:#2c323e; font-size:12px; word-break:keep-all;}
.contentType03 {padding-bottom:28px; width:100%; overflow:hidden; color:#666; word-break:keep-all;}