
.siteMapList {
	width: 100%;
	font-family: arial;
	font-size: 12px;
	left: 30px;
	}
	
.siteMapList a {
	color: black;
}

.siteMapList a:visited {
	color: black;
}



.siteMapList a:hover {
	color: blue;
}

.siteMapList_grid1 {
	width: 30%;
	float: left;
	margin-right: 2%;
}

.siteMapList_grid2 {
	width: 60%;
	float: left;
	margin-right: 5%;
}


.siteMapList {
	margin-left: 5%;
	font-family: arial;
	font-size: 12px;
}


.siteMapList h2{
	border: 1px solid #00008b;
	color: #fff;
	font-family: arial, calibri;
	font-size: 14px;
	font-weight: bold;		
	width: 190px;
	text-align: center;
	left: 0px;
	z-index: 3;
	padding: 5px;
	box-shadow: 0p 0px 1px 1px #bababa;
}

.siteMapList_grid2 img {
	margin-top: 1.7%;
	opacity: 0.9;
	box-shadow: 0 2px 2px 0 #bababa;
}
